# Set line endings for known text files
*.css        text eol=lf
*.java       text eol=lf
*.js         text eol=lf
*.json       text eol=lf
*.properties text eol=lf
*.md         text eol=lf
*.txt        text eol=lf
*.xml        text eol=lf
*.yml        text eol=lf
