/**
 * Licensed to EsupPortail under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.
 *
 * EsupPortail licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.esupstock div.jp-audio ul.jp-controls { 
padding: 0 !important;
width: 99% !important;
} 

.esupstock div.jp-audio { 
width: 99% !important;
} 

.esupstock div.jp-audio div.jp-type-single div.jp-progress { 
left: 5px;
width: 90%;
top: 42px;
}

.esupstock div.jp-audio div.jp-type-single div.jp-time-holder { 
left: 5px;
width: 90%;
margin-top: 10px;
}                                          

.esupstock div.jp-audio div.jp-volume-bar { 
left: 120px;
top: 20px;
}

.esupstock div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute { 
margin-left: 20px;                                                                                         
}

.esupstock ul.jp-controls, .jp-controls li { 
margin: 0 !important;
padding: 0 !important;
}