/**
 * Licensed to EsupPortail under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.
 *
 * EsupPortail licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#accessible-version {
text-align: right;
}

.esupstock .browserlist { 
list-style: none; 
}

.esupstock #jqueryFileTree { 
padding-left: 15px;
}

.esupstock .container #fileTree,
.esupstock .container #browserMain { 
height:400px; 
overflow:auto; 
border:1px solid gray;
}

.esupstock #bigdirectory {
text-decoration: underline;
font-weight: bold;
}

.esupstock .breadcrumbs {
background: #f3f3f3;
padding: 5px;
border-bottom: 1px solid #bbb;
}

.esupstock #toolbar {
background: #f3f3f3;
padding: 10px 0px 5px 0px;
border: 1px solid #bbb;
margin-bottom: 5px;
}

.esupstock .toolbar-item {  
display: inline;
}

.esupstock .toolbar-item input,
.esupstock .toolbar-item a { 
padding: 24px 5px 0px 10px;
margin: 0px 10px;
border: none;
color: #008 !important;
font-weight: bold;
}

.esupstock .toolbar-item input:hover,
.esupstock .toolbar-item a:hover { 
text-decoration: underline;
}

.esupstock #toolbar-create-wai {  
background: url(/esup-filemanager/img/flaticons/new_folder_24px.png) no-repeat center top; 
}

.esupstock #toolbar-refresh-wai {  
background: url(/esup-filemanager/img/flaticons/refresh_24px.png) no-repeat center top; 
}

.esupstock #toolbar-copy-wai {  
background: url(/esup-filemanager/img/flaticons/copy_24px.png) no-repeat center top; 
}

.esupstock #toolbar-cut-wai {  
background: url(/esup-filemanager/img/flaticons/cut_24px.png) no-repeat center top; 
}

.esupstock #toolbar-past-wai {  
background: url(/esup-filemanager/img/flaticons/paste_24px.png) no-repeat center top; 
}

.esupstock #toolbar-rename-wai {  
background: url(/esup-filemanager/img/flaticons/rename_24px.png) no-repeat center top; 
}

.esupstock #toolbar-delete-wai {  
background: url(/esup-filemanager/img/flaticons/delete_24px.png) no-repeat center top; 
}

.esupstock #toolbar-zip-wai {  
padding-top: 30px;
background: url(/esup-filemanager/img/flaticons/zip_24px.png) no-repeat center top; 
}

.esupstock #toolbar-upload-wai {  
background: url(/esup-filemanager/img/flaticons/upload_24px.png) no-repeat center top; 
}

.esupstock #info-toolbar span {
display: block;
text-align: center;
margin-bottom: 5px;
}

.esupstock #info-toolbar .info {
background: #aaff44;
border: 1px solid #44aa00;
}

.esupstock #info-toolbar .warn {
background: #ffaa44;
border: 1px solid #aa4400;
}

