<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to EsupPortail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    EsupPortail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
    <!-- Configures the @Controller programming model 
    -> enable json-> pojo with jackson-mapper-asl-->
	<mvc:annotation-driven />
	
    <!-- aop for org.esupportail.portlet.filemanager.crudlog -->
    <aop:aspectj-autoproxy/> 
    
    <!-- Annotations Configuration 	-->
    
    <context:annotation-config/>
    <context:component-scan base-package="org.esupportail.portlet.filemanager"/>
    

    <!-- we juste define PropertyPlaceholderConfigurer so that you can use java env var in your drives.xml if you need -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    
    <!--
     | Message source for this context, loaded from localized "messages_xx" files
     +-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>                                     
    </bean>

    <!--                                                                                                                                                    
     | Standard JSP view resolver                                                                                                                           
     +-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="cache" value="true"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
 
    <bean id="requiredAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	
	
	<bean id="userAgentInspector" class="org.esupportail.portlet.filemanager.services.UserAgentInspector">
        <property name="userAgentMobile">
		    <!-- Regexes of mobile device user agents -->
		    <list>
		        <value>.*iPhone.*</value>
		        <value>.*Android.*</value>
		        <value>.*Safari.*Pre.*</value>
		        <value>.*Nokia.*AppleWebKit.*</value>
		    </list>
        </property>
    </bean>
	
	
	<!-- there is two implementations for org.esupportail.portlet.filemanager.utils.PathEncodingUtils 
		Base64PathEncodingUtils need more cpu, MemoryMapPathEncodingUtils need more ram 
		MemoryMapPathEncodingUtils gives id shorter than Base64PathEncodingUtils
		Base64PathEncodingUtils seems faster than MemoryMapPathEncodingUtils (...)
		We choose by default Base64PathEncodingUtils -->
	<bean id="pathEncodingUtils" class="org.esupportail.portlet.filemanager.utils.Base64PathEncodingUtils"/>
	<!-- bean id="pathEncodingUtils" class="org.esupportail.portlet.filemanager.utils.MemoryMapPathEncodingUtils"/-->
	
	
	<bean id="resourceUtils" class="org.esupportail.portlet.filemanager.services.ResourceUtils">
		<property name="iconsMap">
			<map>
				<entry key="jpg" value="image"/>
				<entry key="xcf" value="image"/>
				<entry key="tif" value="image"/>
				<entry key="dia" value="image"/>
				<entry key="gif" value="image"/>
				<entry key="ppt" value="odp"/>
				<entry key="pot" value="odp"/>
				<entry key="htm" value="html"/>
				<entry key="mov" value="quicktime"/>
				<entry key="wmv" value="avi"/>
				<entry key="mp4" value="avi"/>
				<entry key="mp3" value="audio"/>
				<entry key="ogg" value="audio"/>
				<entry key="wma" value="audio"/>
				<entry key="gz" value="tar"/>
				<entry key="mid" value="midi"/>
				<entry key="xml" value="txt"/>
				<entry key="csv" value="xls"/>
				<entry key="docx" value="doc"/>
			</map>
		</property>
		
		<!-- Used in order to know what type of file is in the details area -->
		<property name="typeMap">
			<map>
				<entry key="jpg" value="image"/>
				<entry key="xcf" value="image"/>
				<entry key="tif" value="image"/>
				<entry key="dia" value="image"/>
				<entry key="gif" value="image"/>
				<entry key="bmp" value="image"/>
				<entry key="png" value="image"/>
				<entry key="mp3" value="audio"/>
				<entry key="ogg" value="audio"/>
				<entry key="wma" value="audio"/>
			</map>
		</property>
		
		<!-- Used in order to limit the size of the filetype.  Any file greater than the size will not allow streaming / slideshow
		/ view in original size functionality -->
		<property name="sizeLimitMap">
			<map>
				<entry key="jpg" value="2"/>
				<entry key="xcf" value="2"/>
				<entry key="tif" value="2"/>
				<entry key="dia" value="2"/>
				<entry key="gif" value="2"/>
				<entry key="bmp" value="2"/>
				<entry key="png" value="2"/>
				<entry key="mp3" value="7"/>
				<entry key="ogg" value="7"/>
				<entry key="wma" value="7"/>
			</map>
		</property>
	</bean>


	<bean id="httpClientFactory"
		class="org.springframework.http.client.CommonsClientHttpRequestFactory" />

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg ref="httpClientFactory" />
	</bean>
	
	<import resource="drives.xml"/>
	
</beans>