<!-- src/main/resources/templates/authenticationForm.html -->
<div id="jqueryFileTree">

  <form method="post" id="authenticationForm" th:action="@{/authenticate}">

    <div id="auth-error-message" class="auth-error" style="display: none;"></div>

    <input type="hidden" id="currentDir" name="dir" th:value="${currentDir}" />

    <label for="username" th:text="#{auth.username}"></label>
    <input type="text" id="username" name="username" th:value="${username}" required="required" autocomplete="username" />

    <label for="password" th:text="#{auth.password}"></label>
    <input type="password" id="password" name="password" th:value="${password}" required="required" autocomplete="current-password" />

    <button type="submit" id="authenticate" th:text="#{auth.submit}"></button>
  </form>

</div>